  <header>
    <img src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Logo_TV_2015.png">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Pricing</a></li>
      <li><a href="">Blog</a></li>
    </ul>
  </header>

  <nav>
    <ul>
      <li>Item1</li>
      <li>Item2</li>
      <li>Item3</li>
    </ul>
  </nav>

  <main>
    <h2>Main</h2>
    <div id="maincont">
      <div class="floating-box">Floating box1</div>
      <div class="floating-box">Floating box2</div>
      <div class="floating-box">Floating box3</div>
      <div class="floating-box">Floating box4</div>
      <div class="floating-box">Floating box5</div>
      <div class="floating-box">Floating box6</div>
      <div class="floating-box">Floating box7</div>
      <div class="floating-box">Floating box8</div>
      <div class="floating-box">Floating box9</div>
      <div class="floating-box">Floating box10</div>
      <div class="floating-box">Floating box11</div>
      <div class="floating-box">Floating box12</div>
    </div>
  </main>




