<app-header></app-header>
<app-nav></app-nav>


  <main>

    <div id="maincont">
      <div class="floating-box">Floating box1</div>
      <div class="floating-box">Floating box2</div>
      <div class="floating-box">Floating box3</div>
      <div class="floating-box">Floating box4</div>
      <div class="floating-box">Floating box5</div>
      <div class="floating-box">Floating box6</div>
      <div class="floating-box">Floating box7</div>
      <div class="floating-box">Floating box8</div>
      <div class="floating-box">Floating box9</div>
      <div class="floating-box">Floating box10</div>
      <div class="floating-box">Floating box11</div>
      <div class="floating-box">Floating box12</div>
    </div>
  </main>





