header {
  height: 40px;
  outline: 1px solid;
}
body {
  height: 100%;
  margin: 0px;
  outline: 1px solid red;
  display: flex;
}
#sidebar {
  height: 100%;
  width: 100px;
  float: left;
  outline: 2px solid green;
}
#content {
  width: 100%;
  float: left;
  outline: 2px solid blue;
  }


